@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// Font Variables
$roboto-slab: "Roboto", serif;
$default-font-size: 14px;
$primary-font-color: hsla(0, 0%, 100%, 0.87);
$secondary-font-color: grey;

// Background
$primary-bg: #1f1f1f;
$secondary-bg: #282828;
$task-completed-color: #6e6e6e;

// Border
$default-border-color: #999999;

// Hover
$default-hover-color: #999999;
$secondary-hover-color: #4d4d4d;
