@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

// Font Variables
$roboto-slab: "Roboto", serif;
$default-font-size: 14px;
$default-font-color: hsla(0, 0%, 100%, 0.87);

// Background
$primary-bg: #1f1f1f;
$secondary-bg: #282828;
$task-completed-color: #6e6e6e;

// Border
$default-border-color: #999999;

// Hover
$default-hover-color: #999999;
