.sidebar {
    background: #282828;
    width: 280px;
    height: 100%;
}

.expandable_menu_section input:not(:checked) + .expanded_section {
    display: none;
}

.expandable_menu_section input:checked ~ .expanded_section {
    display: block;
}

.expandable_menu_item {
    display: block;
    padding: 10px 5px;
    color: gray;
    cursor: pointer;
}
.expandable_menu_item {
    display: block;
    padding: 10px 5px;
    color: gray;
    cursor: pointer;
}

.menuitem {
    background: inherit;
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
}

.menuitem:hover {
    background: #363636;
}

.menuitem a {
    color: inherit !important;
    text-decoration: none;
    display: block;
}

.hidden {
    display: none;
}
