body {
    color: $primary-font-color !important;
    min-height: inherit !important;
    background: $primary-bg !important;
    font-family: $roboto-slab !important;
    font-size: $default-font-size !important;
}

.todo-body {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.todo-main {
    display: flex;
    min-height: 100px;
    flex-grow: 1;
}
