.dashboard_navbar {
    background: $secondary-bg !important;
    box-shadow: 0px 1px 2px $color-shadow;
}

.navbar-brand {
    color: $primary-font-color !important;
}

.initials {
    background: $color-primary-shade4x;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.notification-indicator {
    position: relative;

    &:hover {
        background: $default-hover-color;
        border-radius: 3px;
    }

    &-badge {
        font-weight: bold;
        position: absolute;
        right: 0px;
        top: 0px;
        min-width: 15px;
        min-height: 15px;
        line-height: 6px;
        padding: 5px;
        color: $color-font-alternative;
        background-color: $color-accent;
        font-size: 10px;
        border-radius: 20px;
    }
}
