.btn-submit {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #999999 !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.btn-submit:hover {
    background-color: #999999 !important;
}
