.btn-submit {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid $default-border-color !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.btn-submit:hover {
    background-color: $default-hover-color !important;
}
