.btn-submit {
    color: $color-font-alternative !important;
    background-color: $color-accent !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-weight: 500;
}

.btn-submit:hover {
    background-color: $color-accent-shade !important;
    color: $color-font-alternative !important;
}

.btn-action {
    color: $primary-font-color !important;
    font-weight: 600 !important;
    border: 1.5px solid $button-secondary-border !important;
    font-size: 12px !important;
    padding: 0.25rem 0.6rem !important;
    border-radius: 0.2rem !important;
}

.btn-action:hover {
    background-color: $default-hover-color !important;
    color: $primary-font-color !important;
}

.btn-delete {
    background-color: transparent !important;
    color: $primary-font-color !important;
    border: 2px solid $color-primary-shade3x !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.btn-delete:hover {
    background-color: $default-hover-color !important;
    color: $primary-font-color !important;
}
