.context-menu {
    border: 1px solid #ddd;
    border-color: $primary-bg;
    color: hsla(0, 0%, 100%, 0.87);
    background-color: $secondary-bg;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-collapse: separate;
    border-radius: 3px;
    padding: 5px 0px;
    min-width: 250px;
}

.context-menu-item {
    padding: 7px 20px;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: #383838;
}
