.modal-body {
    background-color: $bg-primary-highlight !important;
    box-shadow: 0px 0px 20px $color-shadow;
    border: 0;
    position: absolute !important;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.modal-overlay {
    background-color: transparent !important;
    position: fixed !important;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
