$progressBarHeight: 5px;
$progressBarBorderRadius: 10px;

.file-upload-progress-bar {
    height: $progressBarHeight;
    border-radius: $progressBarBorderRadius;
    background: #5f5f5f;

    .progress {
        height: $progressBarHeight;
        border-radius: $progressBarBorderRadius;
        background: #dcdcdc;
    }
}
