$progressBarHeight: 5px;
$progressBarBorderRadius: 10px;

.file-upload-progress-bar {
    height: $progressBarHeight;
    border-radius: $progressBarBorderRadius;
    background: $color-primary-shade4x;

    .progress {
        height: $progressBarHeight;
        border-radius: $progressBarBorderRadius;
        background: $primary-font-color;
    }
}

.image-upload-progress-bar {
    height: 3px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    overflow: auto;
    background: $color-primary-shade4x;
    box-shadow: 0px 0px 3px 0px #dcdcdc2e;

    .progress {
        height: inherit;
        background: $color-accent;
    }
}
