.account-form {
    .change-password-button {
        padding: 5px 15px;
        border: 1px solid $default-border-color;
        border-radius: 5px;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
    }
    
    .change-password-button:hover {
        background-color: $secondary-hover-color !important;
        color: $primary-font-color !important;
        font-weight: bold;
    }
}