.project-permission-select {
    padding: 3px 5px;
    border-radius: 3px;
    background: $color-primary-shade;
    border: 2px solid $color-primary-shade3x;
    color: $primary-font-color;

    &:focus,
    &:focus-visible {
        outline: none !important;
    }
}

.project-owner {
    color: $secondary-font-color;
    font-size: 14px;
}
