.project-permission-select {
    padding: 3px 5px;
    border-radius: 3px;
    background: #202020;
    border: 2px solid #363636;
    color: #dbdcdc;
}

.project-owner {
    color: $secondary-font-color;
    font-size: 14px;
}
