.signup-form {
    padding: 15px;
    background: $secondary-bg;
    border-radius: 3px;
    border: 1px solid #2f3036;
    box-shadow: 0px 0px 5px #141414;
    min-width: 350px;
    color: $primary-font-color;
    font-size: 13px;

    input {
        border: 1px solid #3e3e47;
        background: $secondary-bg;
        border-radius: 3px;
        padding: 5px 7px;
        margin-top: 3px;
        color: inherit;
    }

    input:focus-visible {
        outline: 1px solid #7c7c82 !important;
        box-shadow: 0px 0px 5px #7c7c828c;
    }

    .signup-submit {
        width: 100%;
        border: none;
        padding: 5px 7px;
        border-radius: 3px;
        background: #d86e6e;
        color: inherit;
        font-weight: 400;
    }

    .signup-footer {
        display: flex;
        justify-content: center;
        color: $secondary-font-color;

        a {
            cursor: pointer;
            font-weight: bold;
            color: rgb(216, 110, 110) !important;
        }
    }
}
