.task-form {
    input,
    textarea,
    input:focus,
    textarea:focus {
        border-radius: 0;
        border: 0;
        background: #1e1e1e !important;
        color: #cacaca;
        box-shadow: none;
    }
}
