.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    .duration {
        font-size: 12px;
        color: $primary-font-color;
        user-select: none;
    }
}

.audio-level {
    height: 25px;
    display: flex;
    align-items: center;

    .audio-level-bar {
        background: $color-primary-shade3x;
        width: 3px;
        border-radius: 3px;
        margin-right: 1px;
    }

    .completed {
        background: $color-accent-shade;
    }
}
