.setting-container {
    min-width: 624px;
    min-height: 400px;

    input {
        outline: 1px solid $input-default-outline;
        border-radius: 5px;
    }

    input:focus-visible,
    input:focus {
        outline: 1px solid $input-default-outline-color-focus;
        border-radius: 5px;
    }
}