.task-editor {
    min-width: 80%;

    h4 {
        font-weight: bold;
    }

    h5 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0px;
    }

    hr {
        margin: 0px;
    }

    .gripicon {
        margin-left: -1rem !important;
        padding-top: 2px;
        font-size: 17px !important;
    }

    .drop-highlight {
        background-color: #ffffff17;
    }

    .list-item {
        display: flex;
        padding: 12px 0px;
        user-select: none;

        .active-on-hover {
            opacity: 0%;
        }

        &:hover .active-on-hover {
            opacity: 100%;
        }
    }

    .completed {
        h5,
        div {
            text-decoration: line-through;
            color: $task-completed-color !important;
        }
    }
}
