.task-editor {
    min-width: 100%;

    h4 {
        font-weight: bold;
    }

    h5 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0px;
    }

    hr {
        margin: 0px;
    }

    .list-item {
        display: flex;
        padding: 12px 0px;
        user-select: none;

        .description {
            color: $secorday-font-color !important;
        }

        .active-on-hover {
            opacity: 0%;
        }

        &:hover .active-on-hover {
            opacity: 100%;
        }

        .right-actions {
            color: hsla(0, 0%, 100%, 0.56);

            i {
                padding: 4px;
                border-radius: 3px;
            }

            i:hover {
                color: $primary-font-color;
                background: #4d4d4d;
                color: rgba(255, 255, 255, 0.87);
            }
        }

        .left-actions {
            margin-left: -1.5rem;
            color: hsla(0, 0%, 100%, 0.56);

            i,
            &-wide i {
                padding: 4px;
                border-radius: 3px;
            }

            &-wide {
                color: hsla(0, 0%, 100%, 0.56);
                margin-left: -2.9rem;
            }

            i:hover,
            &-wide i:hover {
                background: #4d4d4d;
                color: $primary-font-color;
            }

            &:hover {
                color: $primary-font-color;
            }
        }
    }

    .completed {
        h5 {
            text-decoration: line-through;
        }

        h5,
        div {
            color: $task-completed-color !important;
        }
    }

    .drop {
        &-highlight {
            background: #252525;
        }

        &-extendable {
            transition: height 0.1s;
        }
    }
}

.notask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: #d4d4d4;

    h5 {
        text-align: center;
        font-size: 20px;
    }

    h6 {
        font-size: 12px;
    }

    &-img {
        width: 200px;
        height: 200px;
    }

    path {
        fill: rgb(121, 121, 121);
    }
}
