.task-editor {
    min-width: 100%;

    h4 {
        font-weight: bold;
    }

    h5 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0px;
    }

    hr {
        margin: 0px;
    }

    .list-item {
        display: flex;
        padding: 12px 0px;
        user-select: none;

        &-container {
            margin-left: -1.5rem;
        }

        &-container-wide {
            margin-left: -2.9rem;
        }

        .description {
            color: $secorday-font-color !important;
        }

        .active-on-hover {
            opacity: 0%;
        }

        &:hover .active-on-hover {
            opacity: 100%;
        }

        .right-actions {
            color: hsla(0, 0%, 100%, 0.56);

            i {
                padding: 4px;
                border-radius: 3px;
            }

            i:hover {
                color: $primary-font-color;
                background: #4d4d4d;
                color: rgba(255, 255, 255, 0.87);
            }
        }

        .left-actions {
            color: hsla(0, 0%, 100%, 0.56);

            i {
                padding: 4px;
                border-radius: 3px;
            }

            i:hover,
            &-wide i:hover {
                background: #4d4d4d;
                color: $primary-font-color;
            }

            &:hover {
                color: $primary-font-color;
            }
        }
    }

    .subtask-drawer-pad {
        margin-left: 2rem;
    }

    .completed {
        h5 {
            text-decoration: line-through;
        }

        h5,
        div {
            color: $task-completed-color !important;
        }
    }

    .drop {
        &-highlight {
            background: #252525;
            margin-left: 1.5rem;
            width: 100%;
        }

        &-highlight-wide {
            background: #252525;
            margin-left: 2.9rem !important;
            width: 100%;
        }

        &-extendable {
            transition: height 0.1s;
        }
    }
}

.notask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    color: #d4d4d4;

    h5 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 5px;
        font-weight: 500 !important;
    }

    h6 {
        font-size: 16px;
    }

    .launch-icon {
        font-size: 70px;
        margin-bottom: 25px;
        padding: 20px;
        border: 5px solid #d4d4d4;
        border-radius: 10px;
    }
}
