@for $i from 8 through 40 {
    .font-size-#{$i} {
        font-size: #{$i}px;
    }
}

.hidden {
    display: none;
}

.align-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}
