@for $i from 8 through 40 {
    .font-size-#{$i} {
        font-size: #{$i}px;
    }
}

.hidden {
    display: none;
}

.click-disabled {
    pointer-events: none !important;
}

.invisible {
    opacity: 0% !important;
}

.align-xy {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.align-y {
    display: flex !important;
    align-items: center;
}
