@for $i from 8 through 40 {
    .font-size-#{$i} {
        font-size: #{$i}px;
    }
}

.todolist-secondary-font-color {
    color: $secondary-font-color;
}

.container-default {
    @include container-default;
}

.button-small-default {
    @include button-small-default;
}

.hidden {
    display: none;
}

.click-disabled {
    pointer-events: none !important;
}

.disabled {
    opacity: 50%;
    pointer-events: none !important;
}

.invisible {
    opacity: 0% !important;
}

.align-xy {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.align-y {
    display: flex !important;
    align-items: center;
}

.align-x {
    display: flex !important;
    justify-content: center;
}